<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="libs/jquery-ui-1.12.1/jquery-ui.css" />    
<link rel="stylesheet" type="text/css" href="css/main.css" />
<link rel="stylesheet" type="text/css" href="css/profile.css" />
<link rel="stylesheet" type="text/css" href="css/event.css" />
<link rel="stylesheet" type="text/css" href="css/friend.css" />
<link rel="stylesheet" type="text/css" href="libs/font-awesome-4.7.0/css/font-awesome.css" />
<script src="js/jquery.js"></script>        
<script src="libs/jquery-ui-1.12.1/jquery-ui.js"></script>
<script src="js/bootstrap.js"></script>