<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Social Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div id="citySelect" class="mr-3">
        Your city
        <select class="ml-2">
            <option>Vienna</option>
            <option>Munich</option>
            <option>Berlin</option>
            <option>London</option>
        </select>
    </div>
</nav>