<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="logged_in.html">Social Cinema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" id="home-nav">
                <a class="nav-link" href="logged_in.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" id="events-nav">
                <a class="nav-link" href="events.html">Events</a>
            </li>
            <li class="nav-item" id="movies-nav">
                <a class="nav-link" href="movies.html">Movies</a>
            </li>
            <li class="nav-item" id="friends-nav">
                <a class="nav-link" href="all_friends.html">Friends</a>
            </li>
        </ul>
    </div>
    <div id="citySelect" class="mr-3">
        Your city
        <select class="ml-2">
            <option>Vienna</option>
            <option>Munich</option>
            <option>Berlin</option>
            <option>London</option>
        </select>
    </div>
    <a href="create_event.html">
        <button class="btn btn-success" type="submit">+ Create Event</button>
    </a>
</nav>
<script>
    $(document).ready(function() {
        if (document.location.href.indexOf("events") > -1)
        {
            $('#events-nav').addClass("active");
        }
        if (document.location.href.indexOf("movies") > -1)
        {
            $('#movies-nav').addClass("active");
        }
        if (document.location.href.indexOf("friends") > -1)
        {
            $('#friends-nav').addClass("active");
        }
        if (document.location.href.indexOf("logged_in") > -1)
        {
            $('#home-nav').addClass("active");
        }
    });
</script>