<navigation [jumplink]="'#deviceheadline'"></navigation>

<div class="main-container">
		<sidebar class="sidebar"></sidebar>
		<main *ngIf="device" aria-labelledby="deviceheadline" class="details-container">
				<div attr.data-device-id="{{id}}" class="details-headline">
						<h2 class="main-headline" id="deviceheadline">{{device.display_name}}</h2>
				</div>
				<div class="details-holder">

						<div *ngFor="let control_unit of device.control_units" class="details-outer">
								<cont-setting *ngIf="control_unit.type == ct.continuous" [device]="device" [unit]="control_unit"></cont-setting>
								<enum-setting *ngIf="control_unit.type == ct.enum" [device]="device" [unit]="control_unit"></enum-setting>
								<bool-setting *ngIf="control_unit.type == ct.boolean" [device]="device" [unit]="control_unit"></bool-setting>
						</div>

				</div>

		</main>
</div>
