<navigation [routerlink]="'/login'" [optionslink]="false" [logoutlink]="false"></navigation>

<div class="main-container">
		<main aria-labelledby="formheadline">
				<form class="form" (ngSubmit)="login()" method="post" action="/overview">
						<h2 id="formheadline" class="registration-headline">Anmelden</h2>
						<div class="form-row">
								<label class="form-label" for="username-input">
										Benutzername
								</label>
								<input [(ngModel)]="username" type="text" name="username" id="username-input" required class="form-input">
								<span id="username-error" class="error-text"></span>
						</div>
						<div class="form-row">
								<label class="form-label" for="password-input">
										Passwort
								</label>
								<input [(ngModel)]="password" type="password" name="password" id="password-input" required class="form-input" minlength="4"
											 maxlength="12">
								<span id="password-error" class="error-text"></span>
						</div>
						<div class="form-row form-row-center">
								<input type="submit" value="Anmelden" class="button button-submit">
						</div>
				</form>
		</main>
</div>
