<navigation [optionslink]="false"></navigation>

<div class="main-container">
		<main aria-labelledby="formheadline">
				<form class="form" method="post" (ngSubmit)="changePassword()">
						<h2 id="formheadline" class="options-headline">Passwort ändern</h2>
						<div class="form-row">
								<label class="form-label" for="old-password-input">
										Altes Passwort
								</label>
								<input (input)="valueChanged()" [(ngModel)]="oldPassword" type="password" name="password" id="old-password-input" required class="form-input"
											 placeholder="Altes Passwort">
								<span id="old-password-error" class="error-text"></span>
						</div>
						<div class="form-row">
								<label class="form-label" for="new-password-input">
										Neues Passwort
								</label>
								<input (input)="valueChanged()" [(ngModel)]="newPassword1" type="password" name="password" id="new-password-input" placeholder="Neues Passwort" required
											 class="form-input" minlength="8"
											 maxlength="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}">
						</div>
						<div class="form-row">
								<label class="form-label" for="repeat-password-input">
										Passwort wiederholen
								</label>
								<input (input)="valueChanged()" [(ngModel)]="newPassword2" type="password" name="password" id="repeat-password-input" placeholder="Neues Passwort wiederholen"
											 required class="form-input" minlength="8"
											 maxlength="12" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,12}">
								<span id="new-password-error" class="error-text"></span>
						</div>
						<div class="form-row form-row-center">
								<button [disabled]="isValid == false" id="save-changes-button" class="button button-submit">
										Änderung speichern
								</button>
						</div>
				</form>
		</main>
</div>
