<navigation [jumplink]="'#devicesheadline'"></navigation>

<div class="main-container">
    <sidebar class="sidebar"></sidebar>
    <main aria-labelledby="devicesheadline">
        <h2 class="main-headline" id="devicesheadline">Geräte</h2>
        <div class="devices">
            <div *ngFor="let device of devices" class="device-outer" [attr.data-device-id]="device.id">
                <device [device]="device"></device>
            </div>
        </div>

    </main>
</div>
