<!-- Steuerung für boolesche Werte -->
<div class="details-image-container">
     <canvas baseChart *ngIf="unit"
              [data]="dough_data"
              [labels]="dough_labels"
              [chartType]="'doughnut'"></canvas>
</div>
<div class="details-data">
    <label class="accessibility" for="details-log">Letzte Werteänderungen</label>

		<textarea [(ngModel)]="str_log" id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6"></textarea>
    <div class="details-settings">
        <h3 class="details-headline">{{unit.name}}</h3>

        <form class="update-form" #f="ngForm" (ngSubmit)="onSubmit(f)">

            <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit:
										<span *ngIf="unit.current == 0"> Deaktiviert </span>
										<span *ngIf="unit.current != 0"> Aktiviert </span>
								</span>
            </label>

            <label class="accessibility" for="new-value">Bitte gewünschten Wert auswählen.</label>
						
						<input type="checkbox" id="new-value" class="update-checkbox-input form-input" [ngModel]="unit.current == 1" name="new-value">
						
						<input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                   value="Wert setzen">
        </form>
    </div>
</div>
