<!-- Steuerung für diskrete Werte -->
<div class="details-image-container">
  <canvas baseChart *ngIf="unit"
          [data]="polar_data"
          [labels]="polar_labels"
          [legend]="polar_legend"
          [chartType]="'polarArea'"></canvas>
</div>

<div class="details-data">
    <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
    <textarea [(ngModel)]="str_log" id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">6.3.2017 10:02:32: Ein -> Standby</textarea>
    <div class="details-settings">
        <h3 class="details-headline">{{unit.name}}</h3>

        <form class="update-form" #f="ngForm" (ngSubmit)="onSubmit(f)" method="post">
            <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{unit.values[unit.current]}}</span>
            </label>
            <label class="accessibility" for="new-value">Bitte gewünschten Wert aus Menü auswählen.</label>
						
            <select id="new-value" class="update-form-field form-input" name="new-value" required [ngModel]="unit.current">

								<option *ngFor="let value of unit.values; let i = index" [value]="i">
										{{value}}
								</option>

						</select>
						
            <input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                   value="Wert setzen">
        </form>
    </div>
</div>
