<!-- Steuerung für kontinuierliche Werte -->
<div class="details-image-container">
    <canvas baseChart *ngIf="unit"
            [datasets]="line_data"
						[labels]="line_labels"
            [legend]="line_legend"
            [chartType]="'line'"></canvas>
</div>

<div class="details-data">
    <label class="accessibility" for="details-log">Letzte Werteänderungen</label>
    <textarea [(ngModel)]="str_log" id="details-log" class="detail-logs" placeholder="Gerätelog" readonly rows="6">6.3.2017 10:01:30: 20 -> 25
    </textarea>
    <div class="details-settings">
        <h3 class="details-headline">{{unit.name}}</h3>

        <form class="update-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <label class="update-form-field" id="current-value">
                <span class="current-value">derzeit: {{unit.current}}</span>
            </label>
            <label class="accessibility" for="new-value">Bitte gewünschten Wert eingeben.</label>
						
            <input type="number" step="0.01" min="{{unit.min}}" max="{{unit.max}}" id="new-value" value="1"
                   class="update-form-field form-input" name="new-value" required [ngModel]="unit.current">

						<input type="submit" id="submit-value" class="update-form-field button" name="submit-value"
                   value="Wert setzen">
        </form>
    </div>
</div>
