<a [routerLink]="currentlyEditing ? null : '/details/'+device.id" (click)="deviceClicked()" class="device" title="{device.description}}">
    <dl class="device-properties">
        <dt>Anzeigename</dt>
        <dd *ngIf="this.currentlyEditing == false" class="device-displayname">{{device.display_name}}</dd>
        <dd *ngIf="this.currentlyEditing == true" class="device-displayname"><input (click)="inputClicked($event);" (keydown.enter)="saveTitle()" focusOnInit [(ngModel)]="tempTitle" type="text" /></dd>
        <dt>Gerätetyp</dt>
        <dd class="device-type">{{device.type}}</dd>
        <dt>Gerätename</dt>
        <dd class="device-name">{{device.type_name}}</dd>
    </dl>
    <div id="{{device.id}}" class="device-image-container"></div>
</a>
<ul class="device-actions">
    <li><a *ngIf="currentlyEditing == false" href="#" (click)="startEditingTitle();"><img class="device-edit" src="../../images/edit.png" alt="edit device title"></a></li>
    <li><a *ngIf="currentlyEditing == true" href="#" (click)="saveTitle();"><img class="device-edit" src="../../images/ok.png" alt="save device title"></a></li>
    <li><a href=""><img class="device-remove" src="../../images/remove.png" alt="remove device"></a></li>
</ul>
