<div role="navigation" aria-label="jumplinks">
		<a href="{{jumplink}}" class="accessibility">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline">
		<a routerLink="{{routerlink}}"><img class="title-image" src="../../images/big-logo-small.png" alt="BIG Smart Home logo"></a>

		<h1 class="header-title" id="bannerheadline">
				BIG Smart Home
		</h1>
		<nav aria-labelledby="navigationheadline">
				<h2 class="accessibility" id="navigationheadline">Navigation</h2>
				<ul class="navigation-list">
						<li class="nav-items">
								<ul>
										<li *ngIf="optionslink">
												<a routerLink="/options" class="button" accesskey="2">Optionen</a>
										</li>
										<li *ngIf="logoutlink">
												<a routerLink="/login" class="button" accesskey="1">Abmelden</a>
										</li>
								</ul>
						</li>
						<li class="overflow-icon">
								<a href="#" class="button" accesskey="1">☰</a>
						</li>
				</ul>
		</nav>
</header>
