.headrow
{
    margin-top: 30px;
}

.contentrow
{
    margin-top: 50px;
}

.headrow #profile-image
{
    width: 60% !important;
    margin: auto;
    display: block;
}

.content-left
{
    text-align: center;
}

.content-left button
{
    margin-bottom: 10px;
}

#textarea-msg
{
    display: none;
}


